:root{
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --second-text-color: #757575;
    --background-color: #2F303A;
    --white-color: #fff;
    --button-bg-color: #F5F4FA;
    --logo-color: #000;
    --contact-footer-color: #FFFFFF99;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
.link-studio-header{
    text-decoration: none;
    font-family: Raleway, cursive;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
}
.link-studio-footer{
    text-decoration: none;
    font-family: Raleway, cursive;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white-color);
}
.accent{
    color: var(--accent-color);  
}
.link{
    text-decoration: none;
}
.address-bar{
    width: 1600px;
    height: 252px;
    background-color: var(--background-color);
    padding-left: 215px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.list{
    list-style: none;

}
.button{
    
    display: inline-block;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 22px;
    height: 38px;
    background-color: var(--button-bg-color);
    cursor: pointer;
    font-family: inherit;

}
.big-button,
.button:hover,
.button:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.big-button{

    height: 50px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}
.navigation,
.contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}
.contact{
    color: var(--second-text-color);
}
.navigation{
    color: var(--primary-text-color);
}
.contact:hover,
.contact:focus,
.navigation:focus,
.navigation:hover,
.current{
    color: var(--accent-color);
}
.fact-adress{
    color: var(--white-color);
    font-style: normal;
}
.heading{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.white-text{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    height: 120px;
    margin: 0 auto;

}
.feature-first{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.feature-second{
    font-size: 14px;
    line-height: 1.71;
    color: var(--second-text-color);
}
.team-first{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team-second{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--second-text-color);
}
.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    margin-right: 8px;
}
.big-button{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-left: 700px;

}
.group-first{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-left: 24px;
    margin-top: 20px;
}
.group-second{
    font-size: 16px;
    line-height: 1.87;
    color: var(--second-text-color);
    margin-left: 24px;
    margin-top: 4px;
}
.contact-footer{
    color: var(--contact-footer-color);
    font-style: normal;
}
.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-header{
    width: 1600px;
    height: 80px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ECECEC;
}
.nav-header{ 
    display: flex;

}
.cont-header{
    padding-right: 215px;
    display: flex;
    
}
.logo-header{
    padding-left: 215px;   
}
.head-link{
    margin-right: 50px;
}
.fl{
    margin-top: 20px;
}
.fl-con{
    margin-top: 9px;
}
.container{
    width: 1200px;
    display: block;
}
.group{
    display: flex;
    flex-wrap: wrap;
    /* width: 1200px; */
    margin-left: 215px;
    margin-top: 50px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-buttons{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 517px;
}
.images-portfolio{
    border: 1px solid #EEEEEE;
    margin-top: 30px;
    margin-right: 30px;
}
.main-theme{
    width: 1600px;
    height: 600px;
    background-color: var(--background-color);
    box-sizing: border-box;
}
